<!doctype html>
<html>
<head>
    <title>{{title}}</title>

    <!-- vendor -->
    <script src="js/vendor/socket.io-1.0.4.js"></script>
    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/underscore-min.js"></script>
    <script src="js/vendor/backbone-min.js"></script>

    <!-- jquery ui -->
    <link rel="stylesheet" href="js/jquery-ui/jquery-ui.css">
    <script src="js/jquery-ui/jquery-ui.min.js"></script>

    <!-- leaflet js -->
    <link rel="stylesheet" href="js/leaflet/leaflet.css">
    <script src="js/leaflet/leaflet.js"></script>

    <script type="text/javascript" src="js/fancybox/jquery.fancybox.js"></script>
    <link rel="stylesheet" type="text/css" href="js/fancybox/jquery.fancybox.css" media="screen"/>

    <!-- custom selectbox -->
    <link rel="stylesheet" href="js/selectbox/jquery.selectbox.css">
    <script src="js/selectbox/jquery.selectbox-0.2.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div id="main">
    <div id="wrap">
        <div id="status"><span></span></div>
        <div id="map"></div>
    </div>
</div>

<div id="clouds">
    <div id="preloader"></div>
</div>

<!-- template's -->
<div class="templates">
<!-- dot popup template -->
<script type="text/html" id="dot-popup-template">
    <div class="dot-container" id="<%= id %>">
        <span class="dot-edit"></span>
        <span class="dot-destroy"></span>
        <% if (track) { %>
            <span class="dot-play"></span>
            <audio src="<%= track %>" id="dot-track"></audio>
        <% } %>

        <div class="dot-nav">
            <a href="<%= gallery[0] %>" class="fancybox" data-fancybox-group="<%= id %>"><img
                    src="<%= image %>" width="80" height="80" alt="" class="dot-image"/></a>
        </div>

        <div class="dot-description">
            <div class="dot-title"><%= title %></div>
            <div class="dot-text"><%= text %></div>

            <table class="dot-contacts">
                <tr>
                    <td colspan="2">
                        <mark>Адрес:</mark>
                        <%= address %> <%= street %> <%= house %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mark>Тел.:</mark>
                        <%= homePhone %>
                    </td>
                    <td class="tr">
                        <span class="dot-messages">Сообщения &raquo;</span>
                    </td>
                </tr>
            </table>

            <div class="dot-gallery">
                <% if (gallery) { _.each(gallery, function (imageURL, index) { if (index===0) return; %> <a
                    href="<%= imageURL %>" class="fancybox" data-fancybox-group="<%= id %>"></a>
                <% }); }; %>
            </div>
        </div>
    </div>
</script>

<!-- add dot popup template -->
<script type="text/html" id="adddot-popup-template">
    <table>
        <tr>
            <td>
                <input type="text" class="input-title popup-textbox" maxlength="50" placeholder="Заголовок метки"/>
            </td>
            <td colspan="2">
                <select class="input-layer selectbox">
                    <option value="main">Общая карта</option>
                    <option value="user">Места</option>
                    <option value="events">События</option>
                    <option value="old">Старые виды</option>
                    <option value="usermain">User: Главная карта</option>
                    <option value="userplaces">User: Карта жителей</option>
                    <option value="userevents">User: События</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <textarea class="input-short-text popup-textarea" maxlength="150" placeholder="Краткое описание"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <select class="input-address selectbox">
                    <option value="ул.">ул.</option>
                    <option value="пер.">пер.</option>
                </select>
            </td>
            <td><input type="text" class="input-street popup-textbox" maxlength="40" placeholder="Улица"/></td>
            <td><input type="text" class="input-house popup-textbox" maxlength="4" placeholder="Дом"/></td>
        </tr>
        <tr>
            <td colspan="2"><input type="text" class="input-home-phone popup-textbox" maxlength="50" placeholder="Телефон"/></td>
            <td><input type="text" class="input-track popup-textbox" placeholder="Трек"/></td>
        </tr>
        <tr>
            <td class="required">
                Картинка для точки
                <mark>(квадратная)</mark>:<br>
                <input type="file" name="image" class="input-file"/>
            </td>
            <td colspan="2" class="required">
                Галерея изображений:<br>
                <input type="file" name="image2" class="input-gallery" multiple/>
            </td>
        </tr>
        <tr class="last">
            <td><span class="input-marker">Цвет маркера</span></td>
            <td colspan="2">
                <button type="button" class="popup-button input-submit">Добавить метку</button>
            </td>
        </tr>
    </table>

    <div id="selectMarkerPopup">
        <div class="markerset">
            <input type="radio" id="radio1" name="markerset" value="pink"><label for="radio1"><img
                src="js/leaflet/images/markers/marker-icon-pink.png" alt=""/></label>

            <input type="radio" id="radio2" name="markerset" value="green" checked="checked"><label
                for="radio2"><img src="js/leaflet/images/markers/marker-icon-green.png" alt=""/></label>

            <input type="radio" id="radio3" name="markerset" value="blue"><label for="radio3"><img
                src="js/leaflet/images/markers/marker-icon-blue.png" alt=""/></label>

            <input type="radio" id="radio4" name="markerset" value="graypink"><label for="radio4"><img
                src="js/leaflet/images/markers/marker-icon-g-pink.png" alt=""/></label>

            <input type="radio" id="radio5" name="markerset" value="graygreen"><label for="radio5"><img
                src="js/leaflet/images/markers/marker-icon-g-green.png" alt=""/></label>

            <input type="radio" id="radio6" name="markerset" value="grayblue"><label for="radio6"><img
                src="js/leaflet/images/markers/marker-icon-g-blue.png" alt=""/></label>

            <input type="radio" id="radio7" name="markerset" value="vertical-pink"><label for="radio7"><img
                src="js/leaflet/images/markers/marker-icon-a-pink.png" alt=""/></label>

            <input type="radio" id="radio8" name="markerset" value="vertical-green"><label for="radio8"><img
                src="js/leaflet/images/markers/marker-icon-a-green.png" alt=""/></label>

            <input type="radio" id="radio9" name="markerset" value="vertical-blue"><label for="radio9"><img
                src="js/leaflet/images/markers/marker-icon-a-blue.png" alt=""/></label>

            <input type="radio" id="radio10" name="markerset" value="message-pink"><label for="radio10"><img
                src="js/leaflet/images/markers/marker-icon-m-pink.png" alt=""/></label>

            <input type="radio" id="radio11" name="markerset" value="message-green"><label for="radio11"><img
                src="js/leaflet/images/markers/marker-icon-m-green.png" alt=""/></label>

            <input type="radio" id="radio12" name="markerset" value="message-blue"><label for="radio12"><img
                src="js/leaflet/images/markers/marker-icon-m-blue.png" alt=""/></label>

            <input type="radio" id="radio13" name="markerset" value="flag-pink"><label for="radio13"><img
                src="js/leaflet/images/markers/marker-icon-f-pink.png" alt=""/></label>

            <input type="radio" id="radio14" name="markerset" value="flag-green"><label for="radio14"><img
                src="js/leaflet/images/markers/marker-icon-f-green.png" alt=""/></label>

            <input type="radio" id="radio15" name="markerset" value="flag-blue"><label for="radio15"><img
                src="js/leaflet/images/markers/marker-icon-f-blue.png" alt=""/></label>

            <input type="radio" id="radio16" name="markerset" value="gold"><label for="radio16"><img
                src="js/leaflet/images/markers/marker-icon-gold.png" alt=""/></label>
        </div>
    </div>
</script>

<!-- edit dot popup template -->
<script type="text/html" id="editdot-popup-template">
    <table>
        <tr>
            <td>
                <input type="text" class="input-title popup-textbox" value="<%= title %>"
                       placeholder="Заголовок метки"/>
            </td>
            <td colspan="2">
                <select class="input-layer selectbox">
                    <option value="main">Общая карта</option>
                    <option value="user">Места</option>
                    <option value="events">События</option>
                    <option value="old">Старые виды</option>
                    <option value="usermain">User: Главная карта</option>
                    <option value="userplaces">User: Карта жителей</option>
                    <option value="userevents">User: События</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <textarea class="input-short-text popup-textarea" placeholder="Краткое описание"><%= text %></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <select class="input-address selectbox">
                    <option value="ул.">ул.</option>
                    <option value="пер.">пер.</option>
                </select>
            </td>
            <td><input type="text" class="input-street popup-textbox" value="<%= street %>" placeholder="Улица"/></td>
            <td><input type="text" class="input-house popup-textbox" value="<%= house %>" placeholder="Дом"/></td>
        </tr>
        <tr>
            <td colspan="3"><input type="text" class="input-home-phone popup-textbox" value="<%= homePhone %>"
                                   placeholder="Телефон"/></td>
        </tr>
        <tr>
            <td>
                Картинка для точки
                <mark>(квадратная)</mark>:<br>
                <input type="file" name="image" class="input-file"/>
            </td>
            <td colspan="2">
                Галерея изображений:<br>
                <input type="file" name="image" class="input-gallery" placeholder="" multiple/>
            </td>
        </tr>
        <tr class="last">
            <td><span class="input-marker">Цвет маркера</span></td>
            <td colspan="2">
                <button type="button" class="popup-button input-submit">Изменить метку</button>
            </td>
        </tr>
    </table>

    <div id="selectMarkerPopup">
        <div class="markerset">
            <input type="radio" id="radio1" name="markerset" value="pink"><label for="radio1"><img
                src="js/leaflet/images/markers/marker-icon-pink.png" alt=""/></label>

            <input type="radio" id="radio2" name="markerset" value="green" checked="checked"><label
                for="radio2"><img src="js/leaflet/images/markers/marker-icon-green.png" alt=""/></label>

            <input type="radio" id="radio3" name="markerset" value="blue"><label for="radio3"><img
                src="js/leaflet/images/markers/marker-icon-blue.png" alt=""/></label>

            <input type="radio" id="radio4" name="markerset" value="graypink"><label for="radio4"><img
                src="js/leaflet/images/markers/marker-icon-g-pink.png" alt=""/></label>

            <input type="radio" id="radio5" name="markerset" value="graygreen"><label for="radio5"><img
                src="js/leaflet/images/markers/marker-icon-g-green.png" alt=""/></label>

            <input type="radio" id="radio6" name="markerset" value="grayblue"><label for="radio6"><img
                src="js/leaflet/images/markers/marker-icon-g-blue.png" alt=""/></label>

            <input type="radio" id="radio7" name="markerset" value="vertical-pink"><label for="radio7"><img
                src="js/leaflet/images/markers/marker-icon-a-pink.png" alt=""/></label>

            <input type="radio" id="radio8" name="markerset" value="vertical-green"><label for="radio8"><img
                src="js/leaflet/images/markers/marker-icon-a-green.png" alt=""/></label>

            <input type="radio" id="radio9" name="markerset" value="vertical-blue"><label for="radio9"><img
                src="js/leaflet/images/markers/marker-icon-a-blue.png" alt=""/></label>

            <input type="radio" id="radio10" name="markerset" value="message-pink"><label for="radio10"><img
                src="js/leaflet/images/markers/marker-icon-m-pink.png" alt=""/></label>

            <input type="radio" id="radio11" name="markerset" value="message-green"><label for="radio11"><img
                src="js/leaflet/images/markers/marker-icon-m-green.png" alt=""/></label>

            <input type="radio" id="radio12" name="markerset" value="message-blue"><label for="radio12"><img
                src="js/leaflet/images/markers/marker-icon-m-blue.png" alt=""/></label>

            <input type="radio" id="radio13" name="markerset" value="flag-pink"><label for="radio13"><img
                src="js/leaflet/images/markers/marker-icon-f-pink.png" alt=""/></label>

            <input type="radio" id="radio14" name="markerset" value="flag-green"><label for="radio14"><img
                src="js/leaflet/images/markers/marker-icon-f-green.png" alt=""/></label>

            <input type="radio" id="radio15" name="markerset" value="flag-blue"><label for="radio15"><img
                src="js/leaflet/images/markers/marker-icon-f-blue.png" alt=""/></label>

            <input type="radio" id="radio16" name="markerset" value="gold"><label for="radio16"><img
                src="js/leaflet/images/markers/marker-icon-gold.png" alt=""/></label>
        </div>
    </div>
</script>

<!-- remove dot popup template -->
<script type="text/html" id="destroydot-popup-template">
    <button class="popup-button input-submit">Подтвердить удаление</button>
</script>

<!-- dot messages popup template -->
<script type="text/html" id="messagesdot-popup-template">
    <h3>Сообщения точки &laquo;<mark><%= title %></mark>&raquo;</h3>

    <div class="dot-messages-wrapper">
        <div class="dot-messages-list">
            <% if (messages) { _.each(messages, function (message) { %>
            <div class="item" id="<%= message.messageId %>">
                <div class="control">
                    <% if (message.approved === false) { %>
                    <div class="approve"
                         onclick="$.ajax({ url: '/messages', method: 'put', data : { id: '<%= message.messageId %>', text : $('#<%= message.messageId %> .description').text() }}).done(function () { $('#<%= message.messageId %> .approve').fadeOut() })"></div>
                    <% }; %>
                    <div class="remove"
                         onclick="$.ajax({ url: '/messages', method: 'delete', data : { id: '<%= message.messageId %>' }}).done(function () { $('#<%= message.messageId %>').fadeOut() })"></div>
                </div>

                <div class="view">
                    <div class="avatar"><img src="<%= message.avatar %>" width="50" height="50" alt=""/></div>
                    <a href="http://vk.com/<%= message.link %>" class="name" target="_blank"><%= message.name %></a><br>
                    <span class="date"><%= message.created %></span>
                </div>

                <div class="description">
                    <%= message.text %>

                    <% if (message.image) { %>
                    <div class="dot-messages-image">
                        <a href="/msgimages/<%= message.image %>" class="fancybox" target="_blank">Приложенное изображение</a>
                    </div>
                    <% }; %>
                </div>
            </div>
            <% }); }; %>
        </div>

        <div class="rules">Адресные оскорбления запрещены. Предложения начинаются с Большой буквы и разделяются п р о б
            е л а м и.<br>
            Надевают одежду, одевают Надежду. <a href="http://tsya.ru/" target="_blank">&laquo;Тся&raquo;
                и &laquo;ться&raquo;</a>.
            Только сегодня &laquo;-то&raquo;, &laquo;-либо&raquo;, &laquo;-нибудь&raquo; и прекрасная &laquo;-кое&raquo;.
        </div>
    </div>

    <div class="dot-messages-send">
        <textarea name="" id="" cols="" rows="" maxlength="999" class="popup-textarea"
                  placeholder="Введите сюда текст сообщения"></textarea>
        <button type="submit" class="input-submit popup-button">Отправить</button>
        <input type="file" name="" class="input-file"/>
    </div>
</script>

<!-- start view popup template -->
<script type="text/html" id="startscreen-popup-template">
    <div id="startScreen">
        <div class="tabs">
            <ul>
                <li id="tab-news"><span>Новости</span></li>
                <li id="tab-ads"><span>Объявления</span></li>
                <li id="tab-lead"><span>Инициативы</span></li>
                <li id="tab-claims"><span class="claims">Жалобы</span></li>
                <li><span>Общение</span></li>
                <li id="tab-anonymous"><span class="anonymous">&nbsp;</span></li>
            </ul>
        </div>

        <div class="tabs-wrapper">
            some news
        </div>
    </div>
</script>

<!-- news template -->
<script type="text/html" id="news-template">
    <div class="dot-messages-wrapper">
        <div class="dot-messages-list">
            <% if (messages) { _.each(messages, function (message) { %>
            <div class="item" id="<%= message.messageId %>">
                <div class="control">
                    <% if (message.approved === false) { %>
                    <div class="approve"
                         onclick="$.ajax({ url: '/news', method: 'put', data : { id: '<%= message.messageId %>', text : $('#<%= message.messageId %> .description').text() }}).done(function () { $('#<%= message.messageId %> .approve').fadeOut() })"></div>
                    <% }; %>
                    <div class="remove"
                         onclick="$.ajax({ url: '/news', method: 'delete', data : { id: '<%= message.messageId %>' }}).done(function () { $('#<%= message.messageId %>').fadeOut() })"></div>
                </div>
                <div class="view">
                    <div class="avatar"><img src="<%= message.avatar %>" width="50" height="50" alt=""/></div>
                    <a href="http://vk.com/<%= message.link %>" class="name" target="_blank"><%= message.name %></a><br>
                    <span class="date"><%= message.created %></span>
                </div>

                <div class="description" <% if (message.approved === false) { %>contenteditable="true"<% }; %>>
                    <%= message.text %>

                    <% if (message.image) { %>
                    <div class="dot-messages-image" contenteditable="false">
                        <a href="/msgimages/<%= message.image %>" class="fancybox" target="_blank">Приложенное изображение</a>
                    </div>
                    <% }; %>
                </div>
            </div>
            <% }); }; %>
        </div>

        <div class="rules">Предложения начинаются с Большой буквы и разделяются п р о б е л а м и.<br>
            Надевают одежду, одевают Надежду. <a href="http://tsya.ru/" target="_blank">&laquo;Тся&raquo;
                и &laquo;ться&raquo;</a>.
            Только сегодня &laquo;-то&raquo;, &laquo;-либо&raquo;, &laquo;-нибудь&raquo; и прекрасная &laquo;-кое&raquo;.
        </div>
    </div>

    <div class="dot-messages-send">
        <textarea name="" id="" cols="" rows="" maxlength="999" class="news-textarea popup-textarea"
                  placeholder="Введите сюда текст новости"></textarea>
        <button type="submit" class="input-submit popup-button">Отправить</button>
        <input type="file" name="" class="input-file"/>
    </div>
</script>

<!-- ads template -->
<script type="text/html" id="ads-template">
    <div class="dot-messages-wrapper">
        <div class="dot-messages-list">
            <% if (messages) { _.each(messages, function (message) { %>
            <div class="item" id="<%= message.messageId %>">
                <div class="control">
                    <% if (message.approved === false) { %>
                    <div class="approve"
                         onclick="$.ajax({ url: '/ads', method: 'put', data : { id: '<%= message.messageId %>', text : $('#<%= message.messageId %> .description').text() }}).done(function () { $('#<%= message.messageId %> .approve').fadeOut() })"></div>
                    <% }; %>
                    <div class="remove"
                         onclick="$.ajax({ url: '/ads', method: 'delete', data : { id: '<%= message.messageId %>' }}).done(function () { $('#<%= message.messageId %>').fadeOut() })"></div>
                </div>
                <div class="view">
                    <div class="avatar"><img src="<%= message.avatar %>" width="50" height="50" alt=""/></div>
                    <a href="http://vk.com/<%= message.link %>" class="name" target="_blank"><%= message.name %></a><br>
                    <span class="date"><%= message.created %></span>
                </div>

                <div class="description" <% if (message.approved === false) { %>contenteditable="true"<% }; %>>
                    <%= message.text %>

                    <% if (message.image) { %>
                    <div class="dot-messages-image" contenteditable="false">
                        <a href="/msgimages/<%= message.image %>" class="fancybox" target="_blank">Приложенное изображение</a>
                    </div>
                    <% }; %>
                </div>
            </div>
            <% }); }; %>
        </div>

        <div class="rules">Предложения начинаются с Большой буквы и разделяются п р о б е л а м и.<br>
            Надевают одежду, одевают Надежду. <a href="http://tsya.ru/" target="_blank">&laquo;Тся&raquo;
                и &laquo;ться&raquo;</a>.
            Только сегодня &laquo;-то&raquo;, &laquo;-либо&raquo;, &laquo;-нибудь&raquo; и прекрасная &laquo;-кое&raquo;.
        </div>
    </div>

    <div class="dot-messages-send">
        <textarea name="" id="" cols="" rows="" maxlength="999" class="news-textarea popup-textarea"
                  placeholder="Введите сюда текст объявления"></textarea>
        <button type="submit" class="input-submit popup-button">Отправить</button>
        <input type="file" name="" class="input-file"/>
    </div>
</script>

<!-- anonymous template -->
<script type="text/html" id="anonymous-template">
    <div class="dot-messages-wrapper">
        <div class="dot-messages-list">
            <% if (messages) { _.each(messages, function (message) { %>
            <div class="item" id="<%= message.messageId %>">
                <div class="control">
                    <% if (message.approved === false) { %>
                    <div class="approve"
                         onclick="$.ajax({ url: '/anonymous', method: 'put', data : { id: '<%= message.messageId %>', text : $('#<%= message.messageId %> .description').text() }}).done(function () { $('#<%= message.messageId %> .approve').fadeOut() })"></div>
                    <% }; %>
                    <div class="remove"
                         onclick="$.ajax({ url: '/anonymous', method: 'delete', data : { id: '<%= message.messageId %>' }}).done(function () { $('#<%= message.messageId %>').fadeOut() })"></div>
                </div>
                <div class="view">
                    <span class="name"><%= message.name %></span><br>
                    <span class="date"><%= message.created %></span>
                </div>

                <div class="description" <% if (message.approved === false) { %>contenteditable="true"<% }; %>>
                    <%= message.text %>

                    <% if (message.image) { %>
                    <div class="dot-messages-image" contenteditable="false">
                        <a href="/msgimages/<%= message.image %>" class="fancybox" target="_blank">Приложенное изображение</a>
                    </div>
                    <% }; %>
                </div>
            </div>
            <% }); }; %>
        </div>

        <div class="rules"><% if (randomWelcome) { %> <%= randomWelcome %> <% }; %></div>
    </div>

    <div class="dot-messages-send">
        <textarea name="" id="" cols="" rows="" maxlength="999" class="news-textarea popup-textarea"
                  placeholder="Введи сюда текст послания"></textarea>
        <button type="submit" class="input-submit popup-button">Отправить</button>
        <input type="file" name="" class="input-file"/>
    </div>
</script>

<!-- lead template -->
<script type="text/html" id="lead-template">
    <div class="dot-messages-wrapper">
        <div class="dot-messages-list">
            <% if (messages) { _.each(messages, function (message) { %>
            <div class="item" id="<%= message.messageId %>">
                <div class="control">
                    <% if (message.approved === false) { %>
                    <div class="approve"
                         onclick="$.ajax({ url: '/lead', method: 'put', data : { id: '<%= message.messageId %>', text : $('#<%= message.messageId %> .description').text() }}).done(function () { $('#<%= message.messageId %> .approve').fadeOut() })"></div>
                    <% }; %>
                    <div class="remove"
                         onclick="$.ajax({ url: '/lead', method: 'delete', data : { id: '<%= message.messageId %>' }}).done(function () { $('#<%= message.messageId %>').fadeOut() })"></div>
                </div>
                <div class="view">
                    <div class="avatar"><img src="<%= message.avatar %>" width="50" height="50" alt=""/></div>
                    <a href="http://vk.com/<%= message.link %>" class="name" target="_blank"><%= message.name %></a><br>
                    <span class="date"><%= message.created %></span>
                </div>

                <div class="description" <% if (message.approved === false) { %>contenteditable="true"<% }; %>>
                <%= message.text %>

                <% if (message.image) { %>
                <div class="dot-messages-image" contenteditable="false">
                    <a href="/msgimages/<%= message.image %>" class="fancybox" target="_blank">Приложенное изображение</a>
                </div>
                <% }; %>
            </div>
        </div>
        <% }); }; %>
    </div>

    <div class="rules">Предложения начинаются с Большой буквы и разделяются п р о б е л а м и.<br>
        Надевают одежду, одевают Надежду. <a href="http://tsya.ru/" target="_blank">&laquo;Тся&raquo;
            и &laquo;ться&raquo;</a>.
        Только сегодня &laquo;-то&raquo;, &laquo;-либо&raquo;, &laquo;-нибудь&raquo; и прекрасная &laquo;-кое&raquo;.
    </div>
    </div>

    <div class="dot-messages-send">
        <textarea name="" id="" cols="" rows="" maxlength="999" class="news-textarea popup-textarea"
                  placeholder="Введите сюда текст объявления"></textarea>
        <button type="submit" class="input-submit popup-button">Отправить</button>
        <input type="file" name="" class="input-file"/>
    </div>
</script>

<!-- claims template -->
<script type="text/html" id="claims-template">
    <div class="dot-messages-wrapper">
        <div class="dot-messages-list">
            <% if (messages) { _.each(messages, function (message) { %>
            <div class="item" id="<%= message.messageId %>">
                <div class="control">
                    <% if (message.approved === false) { %>
                    <div class="approve"
                         onclick="$.ajax({ url: '/claims', method: 'put', data : { id: '<%= message.messageId %>', text : $('#<%= message.messageId %> .description').text() }}).done(function () { $('#<%= message.messageId %> .approve').fadeOut() })"></div>
                    <% }; %>
                    <div class="remove"
                         onclick="$.ajax({ url: '/claims', method: 'delete', data : { id: '<%= message.messageId %>' }}).done(function () { $('#<%= message.messageId %>').fadeOut() })"></div>
                </div>
                <div class="view">
                    <div class="avatar"><img src="<%= message.avatar %>" width="50" height="50" alt=""/></div>
                    <a href="http://vk.com/<%= message.link %>" class="name" target="_blank"><%= message.name %></a><br>
                    <span class="date"><%= message.created %></span>
                </div>

                <div class="description" <% if (message.approved === false) { %>contenteditable="true"<% }; %>>
                <%= message.text %>

                <% if (message.image) { %>
                <div class="dot-messages-image" contenteditable="false">
                    <a href="/msgimages/<%= message.image %>" class="fancybox" target="_blank">Приложенное изображение</a>
                </div>
                <% }; %>
            </div>
        </div>
        <% }); }; %>
    </div>

    <div class="rules">Предложения начинаются с Большой буквы и разделяются п р о б е л а м и.<br>
        Надевают одежду, одевают Надежду. <a href="http://tsya.ru/" target="_blank">&laquo;Тся&raquo;
            и &laquo;ться&raquo;</a>.
        Только сегодня &laquo;-то&raquo;, &laquo;-либо&raquo;, &laquo;-нибудь&raquo; и прекрасная &laquo;-кое&raquo;.
    </div>
    </div>

    <div class="dot-messages-send">
        <textarea name="" id="" cols="" rows="" maxlength="999" class="news-textarea popup-textarea"
                  placeholder="Введите сюда текст объявления"></textarea>
        <button type="submit" class="input-submit popup-button">Отправить</button>
        <input type="file" name="" class="input-file"/>
    </div>
</script>

<!-- mod messages popup template -->
<script type="text/html" id="messagesmod-popup-template">
    <h3>Непроверенные сообщения</h3>

    <div class="dot-messages-wrapper">
        <div class="dot-messages-list">
            <% if (messages) { _.each(messages, function (message) { %>
            <div class="item" id="<%= message.messageId %>">
                <div class="control">
                    <div class="approve"
                         onclick="$.ajax({ url: '/messages', method: 'put', data : { id: '<%= message.messageId %>', text : $('#<%= message.messageId %> .description').text() }}).done(function () { $('#<%= message.messageId %>').fadeOut() })"></div>
                    <div class="remove"
                         onclick="$.ajax({ url: '/messages', method: 'delete', data : { id: '<%= message.messageId %>' }}).done(function () { $('#<%= message.messageId %>').fadeOut() })"></div>
                </div>
                <div class="view">
                    <a href="" class="name"><%= message.name %></a><br>
                    <span class="date"><%= message.created %></span>
                </div>

                <div class="description" contenteditable="true"><%= message.text %></div>
            </div>
            <% }); } %>
        </div>
    </div>
</script>
</div>

<span id="panel"></span>
<span id="messagesmod"></span>

<div id="fileupload"></div>

<script src="js/helpers.js"></script>
<script src="js/model.js"></script>
<script src="js/views.js"></script>
<script src="js/adminInit.js"></script>
</body>
</html>