<!doctype html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- vendor -->
    <script src="js/vendor/socket.io-1.0.4.js"></script>
    <script src="js/vendor/jquery.min.js"></script>
</head>
<body>
<div id="main">
    <div class="cpanel">
        <div class="cpanel-box">
            <h3 class="cpanel-box-title">Add Dot</h3>

            <form action="" method="post" class="cpanel-form" id="cpanel-form-push">
                <table>
                    <tr>
                        <td><input type="text" name="" value="def" id="addDotTitle" placeholder="title"/></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="" id="addDotShortText" placeholder="short text"/></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="" id="addDotIcon" placeholder="icon"/></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="" id="addDotImage" placeholder="image"/></td>
                    </tr>
                    <tr>
                        <td><button>Add Dot Now</button></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>

<script src="js/admin.js"></script>
</body>
</html>