<!doctype html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- vendor -->
    <script src="js/vendor/socket.io-1.0.4.js"></script>
    <script src="js/vendor/jquery.min.js"></script>

    <!-- leaflet js -->
    <link rel="stylesheet" href="js/leaflet/leaflet.css">
    <script src="js/leaflet/leaflet.js"></script>

    <script type="text/javascript" src="js/fancybox/jquery.fancybox.js"></script>
    <link rel="stylesheet" type="text/css" href="js/fancybox/jquery.fancybox.css" media="screen" />

    <!-- custom selectbox -->
    <link rel="stylesheet" href="js/selectbox/jquery.selectbox.css">
    <script src="js/selectbox/jquery.selectbox-0.2.min.js"></script>
</head>
<body>
<div id="main">
    <div id="wrap">
        <div id="map"></div>
    </div>

    <div class="popup" id="placeDot">
        <form action="" method="post">
            <div class="popup-line">
                <input type="hidden" class="input-position popup-textbox" placeholder="Заголовок метки"/>
            </div>
            <div class="popup-line">
                <input type="text" class="input-title popup-textbox" placeholder="Заголовок метки"/>
            </div>
            <div class="popup-line">
                <textarea class="input-address popup-textarea" placeholder="Краткое описание"></textarea>
            </div>
            <div class="popup-line">
                <input type="text" class="input-image popup-textbox" placeholder="Ссылка на изображение"/>
            </div>
            <div class="popup-line">
                <select class="input-icon selectbox" tabindex="">
                    <option value="red">Цвет маркера</option>
                    <option value="red">Красный</option>
                    <option value="green">Зелёный</option>
                    <option value="blue">Синий</option>
                </select>
            </div>
            <div class="popup-line">
                <input type="text" class="input-address popup-textbox"  placeholder="Адрес"/>
            </div>
            <div class="popup-line">
                <input type="text" class="input-home-phone popup-textbox" placeholder="Рабочий телефон"/>
            </div>
            <div class="popup-line">
                <input type="text" class="input-mobile-phone popup-textbox" placeholder="Мобильный телефон"/>
            </div>
            <div class="popup-line">
                <button id="placeDotSubmit" class="popup-button">Добавить метку</button>
            </div>
        </form>
    </div>
</div>

<div id="clouds"><div id="preloader"></div></div>

<script src="js/init.js"></script>
<script src="js/controller.js"></script>
<script src="js/ready.js"></script>
</body>
</html>