<!doctype html>
<html>
<head>
    <title>{{title}}</title>

    <!-- vendor -->
    <script src="js/vendor/socket.io-1.0.4.js"></script>
    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/underscore-min.js"></script>
    <script src="js/vendor/backbone-min.js"></script>

    <!-- jquery ui -->
    <link rel="stylesheet" href="js/jquery-ui/jquery-ui.css">
    <script src="js/jquery-ui/jquery-ui.min.js"></script>

    <!-- leaflet js -->
    <link rel="stylesheet" href="js/leaflet/leaflet.css">
    <script src="js/leaflet/leaflet.js"></script>

    <script type="text/javascript" src="js/fancybox/jquery.fancybox.js"></script>
    <link rel="stylesheet" type="text/css" href="js/fancybox/jquery.fancybox.css" media="screen"/>

    <!-- custom selectbox -->
    <link rel="stylesheet" href="js/selectbox/jquery.selectbox.css">
    <script src="js/selectbox/jquery.selectbox-0.2.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div id="main">
    <div id="wrap">
        <div id="status"><span></span></div>
        <div id="map"></div>
    </div>
</div>

<div id="clouds">
    <div id="preloader"></div>
</div>

<!-- template's -->
<div class="templates">
    <!-- dot popup template -->
    <script type="text/html" id="dot-popup-template">
        <div class="dot-container" id="<%= id %>">
            <span class="dot-edit"></span>
            <span class="dot-destroy"></span>

            <div class="dot-nav">
                <a href="/gallery/<%= id %>/1.jpg" class="fancybox" data-fancybox-group="<%= id %>"><img
                        src="<%= image %>" width="80" height="80" alt="" class="dot-image"/></a>
            </div>

            <div class="dot-description">
                <div class="dot-title"><%= title %></div>
                <div class="dot-text"><%= text %></div>

                <table class="dot-contacts">
                    <tr>
                        <td colspan="2">
                            <mark>Адрес:</mark>
                            <%= address %> <%= street %> <%= house %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mark>Тел.:</mark>
                            <%= homePhone %>
                        </td>
                        <td>
                            <mark>Моб.:</mark>
                            <%= mobilePhone %>
                        </td>
                    </tr>
                </table>

                <div class="dot-gallery">
                    <% if (gallery) { _.each(gallery, function (imageURL) { %> <a
                        href="/gallery/<%= id %>/<%= imageURL %>" class="fancybox" data-fancybox-group="<%= id %>"></a>
                    <% }); } %>
                </div>
            </div>
        </div>
    </script>

    <!-- add dot popup template -->
    <script type="text/html" id="adddot-popup-template">
        <table>
            <tr>
                <td>
                    <select class="input-layer selectbox">
                        <option value="main">Основной слой</option>
                        <option value="second">Второстепенный слой</option>
                    </select>
                </td>
                <td colspan="2">
                    <input type="text" class="input-title popup-textbox" placeholder="Заголовок метки"/>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <textarea class="input-short-text popup-textarea" placeholder="Краткое описание"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <select class="input-address selectbox">
                        <option value="">?</option>
                        <option value="ул.">ул.</option>
                        <option value="пер.">пер.</option>
                    </select>
                </td>
                <td><input type="text" class="input-street popup-textbox" placeholder="Улица"/></td>
                <td><input type="text" class="input-house popup-textbox" placeholder="Дом"/></td>
            </tr>
            <tr>
                <td><input type="text" class="input-home-phone popup-textbox" placeholder="Рабочий телефон"/></td>
                <td><input type="text" class="input-mobile-phone popup-textbox" placeholder="Мобильный телефон"/></td>
                <td><input type="text" class="input-marker popup-textbox" value="Цвет маркера"/></td>
            </tr>
            <tr>
                <td>
                    <input type="file" name="image" class="input-image" placeholder="" multiple/>
                </td>
                <td colspan="2">
                    <button type="button" class="popup-button input-submit">Добавить метку</button>
                </td>
            </tr>
        </table>

        <div id="selectMarkerPopup">
            <div class="markerset">
                <input type="radio" id="radio1" name="markerset" value="pink"><label for="radio1"><img
                    src="js/leaflet/images/markers/marker-icon-pink.png" alt=""/></label>

                <input type="radio" id="radio2" name="markerset" value="green" checked="checked"><label
                    for="radio2"><img src="js/leaflet/images/markers/marker-icon-green.png" alt=""/></label>

                <input type="radio" id="radio3" name="markerset" value="blue"><label for="radio3"><img
                    src="js/leaflet/images/markers/marker-icon-blue.png" alt=""/></label>

                <input type="radio" id="radio4" name="markerset" value="graypink"><label for="radio4"><img
                    src="js/leaflet/images/markers/marker-icon-g-pink.png" alt=""/></label>

                <input type="radio" id="radio5" name="markerset" value="graygreen"><label for="radio5"><img
                    src="js/leaflet/images/markers/marker-icon-g-green.png" alt=""/></label>

                <input type="radio" id="radio6" name="markerset" value="grayblue"><label for="radio6"><img
                    src="js/leaflet/images/markers/marker-icon-g-blue.png" alt=""/></label>

                <input type="radio" id="radio7" name="markerset" value="vertical-pink"><label for="radio7"><img
                    src="js/leaflet/images/markers/marker-icon-a-pink.png" alt=""/></label>

                <input type="radio" id="radio8" name="markerset" value="vertical-green"><label for="radio8"><img
                    src="js/leaflet/images/markers/marker-icon-a-green.png" alt=""/></label>

                <input type="radio" id="radio9" name="markerset" value="vertical-blue"><label for="radio9"><img
                    src="js/leaflet/images/markers/marker-icon-a-blue.png" alt=""/></label>

                <input type="radio" id="radio10" name="markerset" value="message-pink"><label for="radio10"><img
                    src="js/leaflet/images/markers/marker-icon-m-pink.png" alt=""/></label>

                <input type="radio" id="radio11" name="markerset" value="message-green"><label for="radio11"><img
                    src="js/leaflet/images/markers/marker-icon-m-green.png" alt=""/></label>

                <input type="radio" id="radio12" name="markerset" value="message-blue"><label for="radio12"><img
                    src="js/leaflet/images/markers/marker-icon-m-blue.png" alt=""/></label>

                <input type="radio" id="radio13" name="markerset" value="flag-pink"><label for="radio13"><img
                    src="js/leaflet/images/markers/marker-icon-f-pink.png" alt=""/></label>

                <input type="radio" id="radio14" name="markerset" value="flag-green"><label for="radio14"><img
                    src="js/leaflet/images/markers/marker-icon-f-green.png" alt=""/></label>

                <input type="radio" id="radio15" name="markerset" value="flag-blue"><label for="radio15"><img
                    src="js/leaflet/images/markers/marker-icon-f-blue.png" alt=""/></label>
            </div>
        </div>
    </script>

    <!-- edit dot popup template -->
    <script type="text/html" id="editdot-popup-template">
        <table>
            <tr>
                <td>
                    <select class="input-layer selectbox">
                        <option value="main">Основной слой</option>
                        <option value="second">Второстепенный слой</option>
                    </select>
                </td>
                <td colspan="2">
                    <input type="text" class="input-title popup-textbox" value="<%= title %>"/>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <textarea class="input-short-text popup-textarea"><%= text %></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <select class="input-address selectbox">
                        <option value="">?</option>
                        <option value="ул.">ул.</option>
                        <option value="пер.">пер.</option>
                    </select>
                </td>
                <td><input type="text" class="input-street popup-textbox" value="<%= street %>"/></td>
                <td><input type="text" class="input-house popup-textbox" value="<%= house %>"/></td>
            </tr>
            <tr>
                <td><input type="text" class="input-home-phone popup-textbox" value="<%= homePhone %>"/></td>
                <td><input type="text" class="input-mobile-phone popup-textbox" value="<%= mobilePhone %>"/></td>
                <td><input type="text" class="input-marker popup-textbox" value="Цвет маркера"/></td>
            </tr>
            <tr>
                <td>
                    <input type="file" name="" class="input-image" placeholder=""/>
                </td>
                <td colspan="2">
                    <buttonn type="submit" class="popup-button input-submit">Обновить метку</button>
                </td>
            </tr>
        </table>

        <div id="selectMarkerPopup">
            <div class="markerset">
                <input type="radio" id="radio1" name="markerset" value="pink"><label for="radio1"><img
                    src="js/leaflet/images/markers/marker-icon-pink.png" alt=""/></label>

                <input type="radio" id="radio2" name="markerset" value="green" checked="checked"><label
                    for="radio2"><img src="js/leaflet/images/markers/marker-icon-green.png" alt=""/></label>

                <input type="radio" id="radio3" name="markerset" value="blue"><label for="radio3"><img
                    src="js/leaflet/images/markers/marker-icon-blue.png" alt=""/></label>

                <input type="radio" id="radio4" name="markerset" value="graypink"><label for="radio4"><img
                    src="js/leaflet/images/markers/marker-icon-g-pink.png" alt=""/></label>

                <input type="radio" id="radio5" name="markerset" value="graygreen"><label for="radio5"><img
                    src="js/leaflet/images/markers/marker-icon-g-green.png" alt=""/></label>

                <input type="radio" id="radio6" name="markerset" value="grayblue"><label for="radio6"><img
                    src="js/leaflet/images/markers/marker-icon-g-blue.png" alt=""/></label>

                <input type="radio" id="radio7" name="markerset" value="vertical-pink"><label for="radio7"><img
                    src="js/leaflet/images/markers/marker-icon-a-pink.png" alt=""/></label>

                <input type="radio" id="radio8" name="markerset" value="vertical-green"><label for="radio8"><img
                    src="js/leaflet/images/markers/marker-icon-a-green.png" alt=""/></label>

                <input type="radio" id="radio9" name="markerset" value="vertical-blue"><label for="radio9"><img
                    src="js/leaflet/images/markers/marker-icon-a-blue.png" alt=""/></label>

                <input type="radio" id="radio10" name="markerset" value="message-pink"><label for="radio10"><img
                    src="js/leaflet/images/markers/marker-icon-m-pink.png" alt=""/></label>

                <input type="radio" id="radio11" name="markerset" value="message-green"><label for="radio11"><img
                    src="js/leaflet/images/markers/marker-icon-m-green.png" alt=""/></label>

                <input type="radio" id="radio12" name="markerset" value="message-blue"><label for="radio12"><img
                    src="js/leaflet/images/markers/marker-icon-m-blue.png" alt=""/></label>

                <input type="radio" id="radio13" name="markerset" value="flag-pink"><label for="radio13"><img
                    src="js/leaflet/images/markers/marker-icon-f-pink.png" alt=""/></label>

                <input type="radio" id="radio14" name="markerset" value="flag-green"><label for="radio14"><img
                    src="js/leaflet/images/markers/marker-icon-f-green.png" alt=""/></label>

                <input type="radio" id="radio15" name="markerset" value="flag-blue"><label for="radio15"><img
                    src="js/leaflet/images/markers/marker-icon-f-blue.png" alt=""/></label>
            </div>
        </div>
    </script>

    <!-- edit dot popup template -->
    <script type="text/html" id="destroydot-popup-template">
        <button class="popup-button input-submit">Подтвердить удаление</button>
    </script>
</div>

<script src="js/helpers.js"></script>
<script src="js/model.js"></script>
<script src="js/views.js"></script>
<script src="js/init.js"></script>
</body>
</html>