<!doctype html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>
<body id="login">
<div id="overlay-1"><div id="overlay-2"></div></div>

<div id="welcome" class="login-popup">
    <div class="alignleft">
        <h1>Что это такое?</h1>

        <ul>
            <li>Это одностраничное веб-приложение.</li>
        </ul>

        <h2>Для чего это нужно?</h2>

        <ul>
            <li>Для быстрого доступа к полезной информации, которой в нужный момент всегда не бывает под рукой.</li>
            <li>Для отработки свежих интернет-технологий на живой аудитории.</li>
            <li>Чисто поприкалываться.</li>
        </ul>
    </div>

    <div class="alignright">
        <h2>Что здесь можно делать?</h2>

        <ul>
            <li>Обсуждать уже отмеченные места, а также добавлять свои.</li>
            <li>Читать новости и давать бесплатные объявления.</li>
            <li>Анонимно делиться слухами и жаловаться на жизнь.</li>
            <li>Разглядывать красивые и редкие фотографии посёлка.</li>
        </ul>

        <a href="/auth" class="login-button">Войти через &laquo;Вконтакте&raquo;</a>
    </div>
</div>

<div id="moreinfo" class="login-popup">
    <div class="alignleft">
        <h1>Просто факты:</h1>

        <ul>
            <li>Данные &laquo;Вконтакте&raquo; необходимы только для авторизации и нигде не сохраняются.<br> Приложение никому ничего не шлёт.</li>
            <li>На сайте нет цензуры, премодерация сводится к проверке орфографии и фильтрации адресных оскорблений.</li>
            <li>&laquo;Солнечный&raquo; появится на карте <a href="http://lurkmore.to/%D0%A0%D0%B5%D0%BA%D1%83%D1%80%D1%81%D0%B8%D1%8F" target="_blank">сразу, как только</a> появится карта &laquo;Солнечного&raquo;.</li>
            <li>За номерами домов можно сходить в <a href="https://www.google.com/maps/place/%D0%A3%D1%80%D1%83%D1%81%D1%81%D1%83/@54.6011285,53.4631105,14z/data=!3m1!4b1!4m2!3m1!1s0x4161c116842a68fd:0x94b76059c240c40" target="_blank">Google Maps</a>.
                </li>
        </ul>
    </div>

    <div class="alignright">
        <ul>
            <li>Пользовательские интерфейсы проверялись на понятность на пенсионерах.</li>
            <li>Сайт иногда может глючить, падать и даже терять некоторые данные.<br> Просьба отнестись с пониманием.</li>
            <li>Сайт <a href="http://www.smashingmagazine.com/2013/11/21/introduction-to-full-stack-javascript/" target="_blank">целиком</a> написан на JavaScript.</li>
            <li>Вся информация взята из открытых источников. Карта, например, взята из <a href="https://www.google.com/maps/place/%D0%A3%D1%80%D1%83%D1%81%D1%81%D1%83/@54.6011285,53.4631105,14z/data=!3m1!4b1!4m2!3m1!1s0x4161c116842a68fd:0x94b76059c240c40" target="_blank">Google Maps</a>.
        </ul>
    </div>
</div>

<span id="next"></span>

<div id="final"><a href="/auth" class="login-button">Войти через &laquo;Вконтакте&raquo;</a></div>
<a id="vk" href=""></a>

<script>
    $('#next').click(function () {
        if ($('#overlay-2')[0].style.display === 'none') {
            $('#overlay-1').fadeOut('slow');
            $('#moreinfo').hide();
            $('#final').show();
            $(this).hide();
        }
        else {
            $('#overlay-2').fadeOut('slow');
            $('#welcome').hide();
            $('#moreinfo').show();
        }
    });

    $(function(){
        var x = 0;
        var y = 0;
        setInterval(function(){
            if (x > -280 && y > -280) {
                x-=1;
                y-=1;
            }
            $('#overlay-1').css('background-position', x + 'px ' + y + 'px');
        }, 250);
    })
</script>
</body>
</html>