<!doctype html>
<html>
<head>
    <title>{{title}}</title>

    <!-- vendor -->
    <script src="js/vendor/socket.io-1.0.4.js"></script>
    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/underscore-min.js"></script>
    <script src="js/vendor/backbone-min.js"></script>

    <!-- jquery ui -->
    <link rel="stylesheet" href="js/jquery-ui/jquery-ui.css">
    <script src="js/jquery-ui/jquery-ui.min.js"></script>

    <!-- leaflet js -->
    <link rel="stylesheet" href="js/leaflet/leaflet.css">
    <script src="js/leaflet/leaflet.js"></script>

    <script type="text/javascript" src="js/fancybox/jquery.fancybox.js"></script>
    <link rel="stylesheet" type="text/css" href="js/fancybox/jquery.fancybox.css" media="screen"/>

    <!-- custom selectbox -->
    <link rel="stylesheet" href="js/selectbox/jquery.selectbox.css">
    <script src="js/selectbox/jquery.selectbox-0.2.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div id="main">
    <div id="wrap">
        <div id="status"><span></span></div>
        <div id="map"></div>
    </div>
</div>

<div id="clouds">
    <div id="preloader"></div>
</div>

<!-- template's -->
<div class="templates">
    <!-- dot popup template -->
    <script type="text/html" id="dot-popup-template">
        <div class="dot-container" id="<%= id %>">
            <div class="dot-nav">
                <a href="<%= gallery[0] %>" class="fancybox" data-fancybox-group="<%= id %>"><img
                        src="<%= image %>" width="80" height="80" alt="" class="dot-image"/></a>
            </div>

            <div class="dot-description">
                <div class="dot-title"><%= title %></div>
                <div class="dot-text"><%= text %></div>

                <table class="dot-contacts">
                    <tr>
                        <td colspan="2">
                            <mark>Адрес:</mark>
                            <%= address %> <%= street %> <%= house %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mark>Тел.:</mark>
                            <%= homePhone %>
                        </td>
                        <td class="tr">
                            <span class="dot-messages">Сообщения &raquo;</span>
                        </td>
                    </tr>
                </table>

                <div class="dot-gallery">
                    <% if (gallery) { _.each(gallery, function (imageURL, index) { if (index===0) return; %> <a
                        href="<%= imageURL %>" class="fancybox" data-fancybox-group="<%= id %>"></a>
                    <% }); }; %>
                </div>
            </div>
        </div>
    </script>

    <!-- add dot popup template -->
    <script type="text/html" id="adddot-popup-template">
        <table>
            <tr>
                <td colspan="3">
                    <input type="text" class="input-title popup-textbox" maxlength="50" placeholder="Заголовок метки"/>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <textarea class="input-short-text popup-textarea" maxlength="150" placeholder="Краткое описание"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <select class="input-address selectbox">
                        <option value="ул.">ул.</option>
                        <option value="пер.">пер.</option>
                    </select>
                </td>
                <td><input type="text" class="input-street popup-textbox" maxlength="40" placeholder="Улица"/></td>
                <td><input type="text" class="input-house popup-textbox" maxlength="4" placeholder="Дом"/></td>
            </tr>
            <tr>
                <td><input type="text" class="input-home-phone popup-textbox" maxlength="50" placeholder="Телефон"/></td>
                <td colspan="2">
                    <select class="input-layer selectbox">
                        <option value="usermain">Общая карта</option>
                        <option value="userplaces">Места</option>
                        <option value="userevents">События</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="required">
                    Картинка для точки
                    <mark>(квадратная)</mark>:<br>
                    <input type="file" name="image" class="input-file"/>
                </td>
                <td colspan="2" class="required">
                    Галерея изображений:<br>
                    <input type="file" name="image2" class="input-gallery" multiple/>
                </td>
            </tr>
            <tr class="last">
                <td><span class="input-marker">Цвет маркера</span></td>
                <td colspan="2">
                    <button type="button" class="popup-button input-submit">Добавить метку</button>
                </td>
            </tr>
        </table>

        <div id="selectMarkerPopup">
            <div class="markerset">
                <input type="radio" id="radio4" name="markerset" value="graypink"><label for="radio4"><img
                    src="js/leaflet/images/markers/marker-icon-g-pink.png" alt=""/></label>

                <input type="radio" id="radio5" name="markerset" value="graygreen" checked="checked"><label
                    for="radio5"><img
                    src="js/leaflet/images/markers/marker-icon-g-green.png" alt=""/></label>

                <input type="radio" id="radio6" name="markerset" value="grayblue"><label for="radio6"><img
                    src="js/leaflet/images/markers/marker-icon-g-blue.png" alt=""/></label>
            </div>
        </div>
    </script>

    <!-- dot messages popup template -->
    <script type="text/html" id="messagesdot-popup-template">
        <h3>Сообщения точки &laquo;<mark><%= title %></mark>&raquo;</h3>

        <div class="dot-messages-wrapper">
            <div class="dot-messages-list">
                <% if (messages) { _.each(messages, function (message) { %>
                <div class="item">
                    <div class="view">
                        <div class="avatar"><img src="<%= message.avatar %>" width="50" height="50" alt=""/></div>
                        <a href="http://vk.com/<%= message.link %>" class="name" target="_blank"><%= message.name %></a><br>
                        <span class="date"><%= message.created %></span>
                    </div>

                    <div class="description">
                        <%= message.text %>

                        <% if (message.image) { %>
                        <div class="dot-messages-image" contenteditable="false">
                            <a href="/msgimages/<%= message.image %>" class="fancybox" target="_blank">Приложенное изображение</a>
                        </div>
                        <% }; %>
                    </div>
                </div>
                <% }); }; %>
            </div>

            <div class="rules">Адресные оскорбления запрещены. Предложения начинаются с Большой буквы и разделяются п р
                о б е л а м и.<br>
                Надевают одежду, одевают Надежду. <a href="http://tsya.ru/" target="_blank">&laquo;Тся&raquo; и &laquo;ться&raquo;</a>.
                Только сегодня &laquo;-то&raquo;, &laquo;-либо&raquo;, &laquo;-нибудь&raquo; и прекрасная &laquo;-кое&raquo;.
            </div>
        </div>

        <div class="dot-messages-send">
            <textarea name="" id="" cols="" rows="" class="popup-textarea"
                      placeholder="Введите сюда текст сообщения"></textarea>
            <button type="submit" class="input-submit popup-button">Отправить</button>
            <input type="file" name="" class="input-file"/>
        </div>
    </script>

    <!-- start view popup template -->
    <script type="text/html" id="startscreen-popup-template">
        <div id="startScreen">
            <div class="tabs">
                <ul>
                    <li id="tab-news"><span>Новости</span></li>
                    <li id="tab-ads"><span>Объявления</span></li>
                    <li id="tab-lead"><span>Инициативы</span></li>
                    <li id="tab-claims"><span class="claims">Жалобы</span></li>
                    <li><span>Общение</span></li>
                    <li id="tab-anonymous"><span class="anonymous">&nbsp;</span></li>
                </ul>
            </div>

            <div class="tabs-wrapper">
                some news
            </div>
        </div>
    </script>

    <!-- news template -->
    <script type="text/html" id="news-template">
        <div class="dot-messages-wrapper">
            <div class="dot-messages-list">
                <% if (messages) { _.each(messages, function (message) { %>
                <div class="item">
                    <div class="view">
                        <div class="avatar"><img src="<%= message.avatar %>" width="50" height="50" alt=""/></div>
                        <a href="http://vk.com/<%= message.link %>" class="name" target="_blank"><%= message.name %></a><br>
                        <span class="date"><%= message.created %></span>
                    </div>

                    <div class="description">
                        <%= message.text %>

                        <% if (message.image) { %>
                        <div class="dot-messages-image" contenteditable="false">
                            <a href="/msgimages/<%= message.image %>" class="fancybox" target="_blank">Приложенное изображение</a>
                        </div>
                        <% }; %>
                    </div>
                </div>
                <% }); }; %>
            </div>

            <div class="rules">Предложения начинаются с Большой буквы и разделяются п р о б е л а м и.<br>
                Надевают одежду, одевают Надежду. <a href="http://tsya.ru/" target="_blank">&laquo;Тся&raquo; и &laquo;ться&raquo;</a>.
                Только сегодня &laquo;-то&raquo;, &laquo;-либо&raquo;, &laquo;-нибудь&raquo; и прекрасная &laquo;-кое&raquo;.
            </div>
        </div>

        <div class="dot-messages-send">
            <textarea name="" id="" cols="" rows="" maxlength="999" class="news-textarea popup-textarea"
                      placeholder="Введите сюда текст сообщения"></textarea>
            <button type="submit" class="input-submit popup-button">Отправить</button>
            <input type="file" name="" class="input-file"/>
        </div>
    </script>

    <!-- ads template -->
    <script type="text/html" id="ads-template">
        <div class="dot-messages-wrapper">
            <div class="dot-messages-list">
                <% if (messages) { _.each(messages, function (message) { %>
                <div class="item">
                    <div class="view">
                        <div class="avatar"><img src="<%= message.avatar %>" width="50" height="50" alt=""/></div>
                        <a href="http://vk.com/<%= message.link %>" class="name" target="_blank"><%= message.name %></a><br>
                        <span class="date"><%= message.created %></span>
                    </div>

                    <div class="description">
                        <%= message.text %>

                        <% if (message.image) { %>
                        <div class="dot-messages-image" contenteditable="false">
                            <a href="/msgimages/<%= message.image %>" class="fancybox" target="_blank">Приложенное изображение</a>
                        </div>
                        <% }; %>
                    </div>
                </div>
                <% }); }; %>
            </div>

            <div class="rules">Предложения начинаются с Большой буквы и разделяются п р о б е л а м и.<br>
                Надевают одежду, одевают Надежду. <a href="http://tsya.ru/" target="_blank">&laquo;Тся&raquo;
                    и &laquo;ться&raquo;</a>.
                Только сегодня &laquo;-то&raquo;, &laquo;-либо&raquo;, &laquo;-нибудь&raquo; и прекрасная &laquo;-кое&raquo;.
            </div>
        </div>

        <div class="dot-messages-send">
            <textarea name="" id="" cols="" rows="" maxlength="999" class="news-textarea popup-textarea"
                      placeholder="Введите сюда текст объявления"></textarea>
            <button type="submit" class="input-submit popup-button">Отправить</button>
            <input type="file" name="" class="input-file"/>
        </div>
    </script>

    <!-- anonymous template -->
    <script type="text/html" id="anonymous-template">
        <div class="dot-messages-wrapper">
            <div class="dot-messages-list">
                <% if (messages) { _.each(messages, function (message) { %>
                <div class="item">
                    <div class="view">
                        <span class="name"><%= message.name %></span><br>
                        <span class="date"><%= message.created %></span>
                    </div>

                    <div class="description">
                        <%= message.text %>

                        <% if (message.image) { %>
                        <div class="dot-messages-image" contenteditable="false">
                            <a href="/msgimages/<%= message.image %>" class="fancybox">Приложенное изображение</a>
                        </div>
                        <% }; %>
                    </div>
                </div>
                <% }); }; %>
            </div>

            <div class="rules"><% if (randomWelcome) { %> <%= randomWelcome %> <% }; %></div>
        </div>

        <div class="dot-messages-send">
            <textarea name="" id="" cols="" rows="" maxlength="999" class="news-textarea popup-textarea"
                      placeholder="Введи сюда текст послания"></textarea>
            <button type="submit" class="input-submit popup-button">Отправить</button>
            <input type="file" name="" class="input-file"/>
        </div>
    </script>

    <!-- lead template -->
    <script type="text/html" id="lead-template">
        <div class="dot-messages-wrapper">
            <div class="dot-messages-list">
                <% if (messages) { _.each(messages, function (message) { %>
                <div class="item">
                    <div class="view">
                        <div class="avatar"><img src="<%= message.avatar %>" width="50" height="50" alt=""/></div>
                        <a href="http://vk.com/<%= message.link %>" class="name" target="_blank"><%= message.name %></a><br>
                        <span class="date"><%= message.created %></span>
                    </div>

                    <div class="description">
                        <%= message.text %>

                        <% if (message.image) { %>
                        <div class="dot-messages-image" contenteditable="false">
                            <a href="/msgimages/<%= message.image %>" class="fancybox" target="_blank">Приложенное изображение</a>
                        </div>
                        <% }; %>
                    </div>
                </div>
                <% }); }; %>
            </div>

            <div class="rules">Предложения начинаются с Большой буквы и разделяются п р о б е л а м и.<br>
                Надевают одежду, одевают Надежду. <a href="http://tsya.ru/" target="_blank">&laquo;Тся&raquo;
                    и &laquo;ться&raquo;</a>.
                Только сегодня &laquo;-то&raquo;, &laquo;-либо&raquo;, &laquo;-нибудь&raquo; и прекрасная &laquo;-кое&raquo;.
            </div>
        </div>

        <div class="dot-messages-send">
            <textarea name="" id="" cols="" rows="" maxlength="999" class="news-textarea popup-textarea"
                      placeholder="Введите сюда текст объявления"></textarea>
            <button type="submit" class="input-submit popup-button">Отправить</button>
            <input type="file" name="" class="input-file"/>
        </div>
    </script>

    <!-- claims template -->
    <script type="text/html" id="claims-template">
        <div class="dot-messages-wrapper">
            <div class="dot-messages-list">
                <% if (messages) { _.each(messages, function (message) { %>
                <div class="item">
                    <div class="view">
                        <div class="avatar"><img src="<%= message.avatar %>" width="50" height="50" alt=""/></div>
                        <span class="name"><%= message.name %></span><br>
                        <span class="date"><%= message.created %></span>
                    </div>

                    <div class="description">
                        <%= message.text %>

                        <% if (message.image) { %>
                        <div class="dot-messages-image" contenteditable="false">
                            <a href="/msgimages/<%= message.image %>" class="fancybox" target="_blank">Приложенное изображение</a>
                        </div>
                        <% }; %>
                    </div>
                </div>
                <% }); }; %>
            </div>

            <div class="rules">Предложения начинаются с Большой буквы и разделяются п р о б е л а м и.<br>
                Надевают одежду, одевают Надежду. <a href="http://tsya.ru/" target="_blank">&laquo;Тся&raquo;
                    и &laquo;ться&raquo;</a>.
                Только сегодня &laquo;-то&raquo;, &laquo;-либо&raquo;, &laquo;-нибудь&raquo; и прекрасная &laquo;-кое&raquo;.
            </div>
        </div>

        <div class="dot-messages-send">
            <textarea name="" id="" cols="" rows="" maxlength="999" class="news-textarea popup-textarea"
                      placeholder="Введи сюда текст послания"></textarea>
            <button type="submit" class="input-submit popup-button">Отправить</button>
            <input type="file" name="" class="input-file"/>
        </div>
    </script>
</div>

<span id="panel"></span>

<div id="fileupload"></div>

<script src="js/helpers.js"></script>
<script src="js/model.js"></script>
<script src="js/views.js"></script>
<script src="js/init.js"></script>
</body>
</html>