.fancybox-skin {
  padding: 0 !important;
  border: 2px solid #6B9B2A !important;
}

#adddot-popup.popup {
  width: 500px;
  padding: 20px;
}

.popup table {
  width: 100%;
}
.popup td {
  padding: 5px;
  vertical-align: top;
}

.popup-button {
  float: right;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  border: 1px solid #CCC !important;
  background: #FFF;
  font-family: 'Noto Sans Regular', Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  padding: 8px 25px;
  border-radius: 5px;
  margin: 0;
  outline: none;
}
.popup-button:hover {
  background: #EBEBEB;
}
.popup-button:active {
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2);
  background: #EBEBEB;
}

.popup-textbox, .popup-textarea {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 9px 10px;
  font-family: 'Noto Sans Regular';
  font-size: 14px;
  color: #000000;
  background: #fff;
}
.popup-textarea {
  resize: none;
  height: 200px;
}
.popup-textbox:focus, .popup-textarea:focus {
  border-color: #6B9B2A;
}
#selectMarker {
  cursor: pointer;
  background: #eee;
  color: #999;
}

#selectMarkerPopup {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 15px;
  z-index: 666;
  width: 300px;
  height: 200px;
  border: 2px solid #6B9B2A;
  border-radius: 4px;
  background: #fff;
}

.markerset {
  text-align: center;
  font-size: 0;
}

.markerset .ui-state-default {
  display: inline-block;
  vertical-align: top;
  padding: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 0 5px;
}
.markerset .ui-state-default:hover {
  background: #ffffff;
  background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #eeeeee 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(100%,#eeeeee));
  background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#eeeeee 100%);
  background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#eeeeee 100%);
  background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#eeeeee 100%);
  background: radial-gradient(ellipse at center,  #ffffff 0%,#eeeeee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=1 );
}
.markerset .ui-state-active {
  border-color: #6B9B2A;
  background: #ffffff;
  background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #eeeeee 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(100%,#eeeeee));
  background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#eeeeee 100%);
  background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#eeeeee 100%);
  background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#eeeeee 100%);
  background: radial-gradient(ellipse at center,  #ffffff 0%,#eeeeee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=1 );
}